.mark-green {
  path {
    fill: $green;
  }
}

.mark {
  margin-right: 5px;
}

.mark-yellow {
  path {
    fill: $yellow;
  }
}

.mark-black {
  path {
    fill: $black;
  }
}

.mark-white {
  path {
    fill: $table-color-gray;
  }
}

.mark-red {
  path {
    fill: $red;
  }
}

.special-block {
  background: $asphalt;
  border-radius: 10px;
  font-size: 13px;
  padding: 25px 30px;
  max-width: 620px;
  position: relative;
  color: $gray;

  b,
  strong {
    line-height: 1.692;
    max-width: 450px;
    color: #34314b;
    display: block;
  }

  .icon {
    position: absolute;
    right: 30px;
    top: 32px;
    pointer-events: none;

    @include respond(0, 600px) {
      display: none;
    }
  }

  .items {
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    svg {
      min-width: 19px;
      height: 19px;
      fill: $green;
      margin-right: 9px;
      display: block;
      transform: translateY(1px);
    }

    .item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

}

.listing-title {
  margin-top: 40px;
}

.listing {
  margin-top: 45px;

  .item {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
  }

  .icon {
    @include respond($mobile) {
      min-width: 70px;
      max-width: 70px;
    }
    @include respond(0, $mobile) {
      min-width: 57px;
      max-width: 57px;
    }
    width: 100%;
  }
}

.font-bold {
  font-weight: bold;
}

.fs-18 {
  font-size: 18px;
  line-height: 1.222;
}

.course-text {
  font-size: 13px;
  line-height: 1.7;
  color: #7f7d8e;
  max-width: 888px;
  margin-bottom: 30px;
}

blockquote {
  margin: 30px 0;
  padding: 0 30px;
  border-left: 2px solid $green;
  max-width: 960px;
}

.exam-questions {
  @include respond($mobile) {
    padding: 70px 0 100px 0;
  }
  @include respond(0, $mobile) {
    padding: 30px 0 50px 0;
  }
  background: $asphalt;

  .exam-questions-content {
    padding-top: 10px;
    max-width: 900px;

    .fs-13 {
      margin-top: 28px;
    }
  }
}

.course-navigation {

  @include respond($mobile) {
    padding: 76px 0;
  }
  @include respond(0, $mobile) {
    padding: 35px 0 30px 0;
  }

  .navigation-description {
    max-width: 440px;
  }
}

.block {
  background: $white;
  border-radius: 6px;
  box-shadow: 0 0 50px 0 rgba(52, 49, 75, 0.1);

  @include respond($mobile) {
    padding: 25px 30px;
  }
  @include respond(0, $mobile) {
    padding: 20px;
  }

  &.small-margin {
    margin: 0 0 25px 0;
  }

  &:not(.small-margin) {
    @include respond($mobile) {
      margin: 38px 0;
    }
    @include respond(0, $mobile) {
      margin: 25px 0 30px 0;
    }
  }


  .fs-18 {
    margin-bottom: 20px;
  }

  ul {
    padding-left: 16px;
    font-size: 13px;
    color: $gray;
    margin-top: 19px;
    max-width: 830px;

    li {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
}

.asphalt-block {
  background: $asphalt;

  @include respond($mobile) {
    padding: 60px 0;
    margin-top: 78px;
  }
  @include respond(0, $mobile) {
    padding: 40px 0 25px 0;
    margin-top: 48px;
  }

  .fs-18 {
    font-weight: bold;
  }
}